@model GanpatUni_Pro.Models.Submission

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Submission</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Submission_Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Submission_Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Submission_Document)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Submission_Document)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.Enroll_No)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assignment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assignment.Assignment_Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Submission_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
