@model IEnumerable<GanpatUni_Pro.Models.Query>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User_Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Query_Desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Query_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Response)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mentors)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Query_Desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Query_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Response)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mentors.Mentor_Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Query_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Query_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Query_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
