@model GanpatUni_Pro.Models.Announcement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Announcement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Document)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Document)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Announcement_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Announcement_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mentors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mentors.Mentor_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Group_Masters)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Group_Masters.Group_Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Announcement_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
