@model IEnumerable<GanpatUni_Pro.Models.Assignment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Assignment_Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment_StartingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment_EndingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Document)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mentors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group_Masters)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Assignment_Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assignment_StartingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assignment_EndingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Document)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mentors.Mentor_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departments.Dept_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group_Masters.Group_Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Assignment_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Assignment_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Assignment_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
