@model GanpatUni_Pro.Models.Meeting

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Meeting</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Topic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting_Link)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Meeting_Link)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Meeting_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting_StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Meeting_StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting_EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Meeting_EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Users)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Users.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Meeting_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
