@model GanpatUni_Pro.Models.Group_Transaction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Group_Transaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Group_Masters)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Group_Masters.Group_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Students)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Students.Enroll_No)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GroupTransaction_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
